# --- tinyburg.app -----------------------------------------------------------
TINYBURGAPP_GOOGLE_CLIENT_ID=
TINYBURGAPP_GOOGLE_CLIENT_SECRET=
TINYBURGAPP_DISCORD_CLIENT_ID=
TINYBURGAPP_DISCORD_CLIENT_SECRET=
TINYBURGAPP_OIDC_PRIVATE_JWK='{"key_ops":["sign"],"kty":"EC","x":"Gurg4mwuxJjOjFPm2NiPPEmGbomQsnn7eSXOex3EOds","y":"MWg3Vxz60HhPP7NEKP1gjJAfTxJuWd_fodbVzzfLH-Y","crv":"P-256","d":"J5hPet25Uanna7BiHYnkqZoQkV7vaR2ANRow4jgZJF4","alg":"ES256","kid":"dev"}'

# --- authproxy ---------------------------------------------------------------
AUTHPROXY_ADMIN_PASSWORD=admin
AUTHPROXY_ADMIN_PLAYER_IDS=ADMIN

# --- discord-bot (disabled by default) --------------------------------------
DISCORDBOT_TOKEN=
DISCORDBOT_APPLICATION_ID=

# --- auto-gold-bits and doorman-clone (disabled by default) -----------------
AUTOGOLDBITS_AUTHPROXY_AUTH_KEY=
DOORMANCLONE_AUTHPROXY_AUTH_KEY=

# --- tests ------------------------------------------------------------------
NIMBLEBIT_AUTH_KEY=
