# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
temp

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# next.js build output
.next

# OS X temporary files
.DS_Store

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/
**/rush-logs/

# Heft
.heft
.cache

# Typescript
**/dist/
**/build/

# gitleaks
.gitleaks.toml

# Testing things
**/playground*.ts
**/TODO.txt

# Infrastructure
infra/*
!infra/.gitkeep
