---
import { Option } from "effect";

const maybeAccount = Astro.locals.account;
if (Option.isNone(maybeAccount)) {
    return Astro.redirect("/login");
}
---

<p>Hello, {maybeAccount.value.user.displayName}</p>
<p>{new URL("towers/@link", Astro.site).toString()}</p>
